
.containerContact{
    background-color: $grey;
    border-radius: 15px;
    height: 95%;
    font-family: 'Teachers';
    color: $white;
    
    figure{
        margin-top: 15px;
       img{
            width: 100px;
            border-radius: 100px;
        } 
    }

    button{
        background: $gradient;
        margin: 25px 0px;
        padding: 3px 30px;
        border-radius: 5px;

        &:hover{
            box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3); 
            cursor: pointer;
        }
    }

    
    

    div{
        width: 100%;

        a{
            display: flex;
            align-items: center;
        }

        &:hover{
            cursor: pointer;
            color: $purple;
            font-weight: 300;
        }

        i{
            margin-right: 15px;
        }
    }
}