*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $black;
    height: 100vh;
}


*{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title,.titlePage{
    margin-top: 20px;
    &::after{
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        margin-bottom: 8px;
        background: $gradient
    }
}
.titlePage{
    &::after{
        margin-top: 8px;
    }
}

/* Estilos barra de desplazamiento */
::-webkit-scrollbar {
    width: 2px;
}

/* Fondo de la barra */
::-webkit-scrollbar-track {
    background: #f1f1f142; 
}

/* Estilo de la "thumb" */
::-webkit-scrollbar-thumb {
    background: $gradient; 
    border-radius: 6px;
}